<h1>Let's ask a question to your coach</h1>
<br>

<form action="/answer">
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
